/* Project 2 CSS */
body {
    padding: 20px;
}

h1 {
    text-align: center;
}

.headerComp {
    flex: 1;
    height: 100%;
    padding: 40px;
    background: rgb(255, 177, 177);
}
nav {
    flex-direction: column;
    margin-right: auto;
    justify-content: space-between;

}
