/* Project 2 CSS */
body {
    padding: 20px;
}

h1 {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-between;

}


h1, p {
  padding: 20px;
}

.container {
  background-color: lightblue;
  border: 4px solid rgb(177, 160, 255);

}

.row {
  background-color: lightgreen;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-8, .col-12 {
  background-color: lightyellow;
  border: 1px solid grey;
  min-height: 4em;
}
